@import url('https://fonts.googleapis.com/css?family=Raleway:100');

.HomePage{
    overflow: hidden;
    width: 100%;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
  
    
}




