@import url('https://fonts.googleapis.com/css?family=Raleway:100');


.App {
  text-align: center;
  height: 800px;
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
  
}

.App-header {
  display: flex;
  justify-content: center;
  align-content: center;

  font-family: 'Raleway', sans-serif;

  
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainTitle{
  height: 10em;
  position: relative;
  font-family: 'Raleway', sans-serif;

  /* height: 700px;
  width: 100%; */
}

.mainTitle h3{
  Text-decoration: none; 
  font-size: 17px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
